@import 'github-markdown-css/github-markdown.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
#App {
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}

.code-width {
    width: 50%;
}

#code-block {
    display: flex;
    flex-direction: row;
    height: calc(100% - 2.1rem);
}

.code-text {
    padding: 1rem;
    font-size: 1rem;
}

.mark-block {
    background-color: #0d1117;
    color: #E6EDF3;
    padding: 1rem;
    overflow: auto;
}

strong {
    font-weight: 700 !important;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    border-bottom: 4px solid #21262d !important;
}

button {
    cursor: pointer;
}

.coverbox {
    overflow: auto;
}

.btn {
    font-weight: 700;
    font-family: 'Merriweather', serif;
}

.btn-img {
    height: 13px;
    width: 13px;
}